body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background: #944d4d;
}
h1 {
  color: #333;
}
form input, textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}
.blog-post {
  background: #f0f0f0;
  padding: 10px;
  margin: 15px 0;
  border-left: 5px solid #333;
}
a {
  display: inline-block;
  margin-top: 10px;
  color: rgb(255, 204, 0);
}
